#head { background:#ffa500; border:solid 1px #ffa611; font-size:30; padding:5px;
	text-shadow:
		3px 3px 5px #cccccc,
		-1px -1px 1px #cccccc,
		-1px -1px 1px #cccccc,
		-1px -1px 1px #cccccc,
		-1px -1px 1px #cccccc;
}

#main{
	background:#aaaaff;
	text-align:center;
	width:100%;
}

#login{
	width:780px;
	background:#ddddff;
	margin:0px auto;
 }
